body {
	margin-right: 20px;
	background: lightblue;}

ul {
	padding: 0;
	list-style-type: none;
}

.header {  
	text-align: right;
}

#language li {
	display: inline;
}

#username {
	text-align: right;
}

.banner {
	background: darkcyan;
	color: white;
	padding: 10px;
	text-shadow: .2em .2em black;
}

#trare {
	font-size: 3em;
	padding-left: 30px;
}

#subtitle {
	font-size: 1.5em;
	padding-left: 100px;
	font-style: italic;
}

.leftMenu {
	width: 270px;
	float: left;
}

#avatar {
	width: 200px;
}

.rightMenu {
	width: 300px;
	float: right;
}

.footer {
	height: 50px;
	bottom: 0;
	text-align: center;
}

.footer li {
	display: inline;
}

.main {
	margin-left: 280px;
	margin-right: 310px;
}

.title {
	background-color: black;
	color: white;
	margin-top: 20px;
	padding: 10px;
}

.main .title {
	font-size: 1.5em;
	border-top-right-radius: 1em;
}

.content {
	border: solid white;
	text-align: justify;
	background: white;
}

.main .content {
	padding: 20px;
}

#myResume .content {
	padding: 20px;
}

#myTranslations .content li {
	margin-left: 10px;
	padding: 10px;
}

#myResumeTranslations .content li {
	padding-right: 20px;
	margin-left: 30px;
	padding-bottom: 10px;
	border-bottom: solid steelblue 1px;
	margin-top: 10px;
}

.langTitle {
	padding: 5px 5px 5px 0px;
	color: dimgrey;
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 5px;
}

.rightMenu .title {
	font-size: 1.25em;
	text-align: center;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em; 
}

.rightMenu .content li {
	margin: 20px;
	padding: 5px 5px;
	border-bottom: solid steelblue 1px;
}

.leftMenu .title {
	font-size: 1.25em;
	text-align: center;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em; 
}

.leftMenu .content li {
	margin: 10px;
	padding: 5px;
	border-bottom: solid steelblue 1px;
}

#resume {
	padding-bottom: 10px;
	border-bottom: double steelblue 3px;
}

#translations li {
	padding: 10px;
	border-bottom: solid steelblue 1px;
}

.rightMenu .title {
	font-size: 1.25em;
	text-align: center;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em; 
}
