// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-resume {
  margin: 0 auto;
  max-width: 640px;
  padding: 8px;
}

