// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right-col {background-color: LightCyan;
margin: 30px 0px 0px;
padding: 0px 0px 300px 20px;}
.left-title {padding: 20px 0px 20px;}
.right-title {padding: 20px 0px 30px;}
p {
  margin: 30px 0px 0px;
  font-size: 1.2em;}
.left-col {background-color: LightCyan;
  margin: 30px 20px 0px;
  padding: 0px 0px 300px 20px;
}
