<div class = "leftMenu">
	<div class = "title">XXX</div>
	<div class = "content"><ul>
	    <li><img src="rinrin.png" id ="avatar"></li>
	    <li>My profile</li>
	    <li>Mailbox (x)</li>
	    <li>My resumes</li>
	    <li>Received translations (x)</li>
	    <li>My translations</li>
	    <li>Translation requests</li>
	</ul></div>
</div><!--leftMenu-->
	
<div class = "rightMenu">
  <div id = "otherResumes">
  <div class = "title">You might want to check these</div>
  <div class = "content"><ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
  </ul></div>
  </div>
</div><!--rightMenu-->
	
<div class = "main">
  <div><%= link_to 'New Resume', new_resume_path %></div>
  <ul id = "myResumes">
    <% @my_resumes.each do |resume| %>
    <li>
      <div class = "title"><%= resume.id %></div>
      <div class = "content">
        <div id = "resume"><%= resume.sentence %></div>
      </div>
    </li>
    <% end %>

  <li><div class = "title">Resume 2</div>
    <div class = "content">
	<div id = "resume">ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>			
	<ul id = "translations">
	<li><div class = "langTitle">Language 1 translation</div>
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</li>
	<li><div class = "langTitle">Language 2 translation</div>
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</li>
	</ul>
  </div></li>
</ul>
		
	
  <div id = "myTranslations">
	<div class = "title">My translations</div>
	<div  class = "content"><ul>
	    <li>translation for user1 in language1 --- x comment(s)</li>
	    <li>translation for user2 in language2 --- x comment(s)</li>
	    <li>translation for user3 in language3 --- x comment(s)</li> 
	</ul></div>
  </div>
	
</div>
