  <div class = "footer">
		<ul>
      <% I18n.available_locales.each do |locale| %>
      <% next if locale == I18n.locale %>
      <% localesym = locale.to_sym unless locale == :en %>
      <li><%= link_to t(@localeinfo[locale]), url_for(locale: localesym) %></li>
      <% end %>
		</ul>
	</div><!--footer-->
